nav{
    margin-top: 350px;
    text-align: center;
    letter-spacing: 35px;
    white-space: nowrap;
}

button{
    padding: 40px;
    font-size: 25px;
    border-radius: 10px;
    border: solid rgb(147, 216, 195) 5px;
    background-color: rgb(190, 240, 223);
    font-weight: bold;
    color: rgb(49, 133, 115);
    outline: none;
    cursor:pointer;
    font-family: monospace;
    display: inline-block;
    vertical-align: middle;
}

button:hover{
    transform: scale(1.1) perspective(1px);
    transition-duration: 150ms;
}
