body{
    margin:0;
    background-color: rgb(225, 255, 245);
}

header > h1{
    text-align: center;
    color: rgb(49, 133, 115);
    font-family: monospace;
    font-size: 45px;
}


footer{
    position: fixed;
    bottom: 0;
    padding-top: 100px;
    width: 100% ;
    background-color: rgb(139, 184, 169);
}

.bottom{
    color: white;
    font-family: monospace;
    padding: 50px;
    margin-bottom: 50px;
    font-size: 15px;
}