nav{
    margin-top: 300px;
    text-align: center;
    letter-spacing: 35px;
    white-space: nowrap;
}

button{
    font-size: 25px;
    padding: 10px;
    border-radius: 20px;
    border: solid rgb(147, 216, 195) 5px;
    background-color: rgb(190, 240, 223);
    outline: none;
    cursor:pointer;
    display: inline-block;
    vertical-align: middle;

}

button:hover{
    transform: scale(1.1) perspective(1px);
    transition-duration: 150ms;
}

button > a {
    text-decoration: none;
    color: rgb(49, 133, 115);
    font-weight: bold;
}
