section{
    text-align: center;
    vertical-align: middle;
    margin-top: 300px;
}

input{
    border-radius: 20px;
    border: solid rgb(147, 216, 195);
    outline: none;
    font-size: 25px;
    padding: 10px;
    font-family: monospace;
}

button{
    border: solid rgb(147, 216, 195);
    background-color: rgb(190, 240, 223);
    cursor:pointer;
    color: rgb(49, 133, 115);
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    font-family: monospace;
}

button:hover{
    background-color: rgb(209, 240, 230);
}

